# Игнорировать файлы, созданные средой разработки Python
__pycache__/
.vscode/

# Игнорировать файлы логов и временные файлы
*.log
*.tmp

# Игнорировать файлы конфигурации
.env
.config
# Игнорировать все файлы логов, кроме конкретного файла log_file.log
*.log
!log_file.log